
.navs {
  position: sticky;
  top: 0;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: rgb(0, 0, 0);
}

.navitems-r {
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.navitems-l {
  color: white;
  text-align: center;
  display: flex;
  justify-content: space-between;
}


.nav-con {
  color: white;
  margin: 20px 5px 30px 10px;
  padding: 10px 20px 10px 20px;
  font-family: 'Times New Roman', Times, serif;
  text-decoration: none;
}

.nav-log:hover{
  box-shadow:0px 0px 20px 0px white;
}

.nav-con:hover {
  box-shadow:0px 0px 20px 0px white;
  border: 2px solid;
  border-radius: 9px;
}
.nav-log{
  color: white;
  margin: 20px 5px 30px 10px;
  padding: 10px 20px 10px 20px;
  font-family: 'Times New Roman', Times, serif;
  text-decoration: none;
  background-color: green;
  border-radius: 25px;
  box-shadow:0px 0px 20px 0px rgb(255, 247, 247) ;
}

.logo {
  height: 70px;
  margin:5px;
  
}

.logo-nm {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border: 2px solid;
  border-radius: 5px;
  padding: 10px 5px 5px 5px;
  margin:20px 0px 20px 0px;
  box-shadow: 0px 0px 20px 0px rgb(255, 255, 255);
}
.nms{
  font-family:fantasy;
}
